* {
  box-sizing: border-box !important;
}
#create .form {
  width: 500px;
  border: 1px solid blue;
  border-radius: 20px;
  background: #f5f5f5;
}
#create .form input,
#create .form button {
  border-radius: 12px;
}
#create .form span.error {
  color: var(--bs-danger);
  font-size: 12px;
}
